
.btn_input
{
    padding: 10px;
    border-radius: 7px;
}

.txt_input
{
    width: 25px;
    height: 25px;

}

label
{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.numberlenght
{
    font-size: 30px;
    width: 50%;
    

}

.chck_btn
{
    margin: auto;
    border: 3px solid black;
    width: 30%;
}

